body {
  background-color: #E6E6E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header__wrapper {
  height: 70px;
  width: 30%;
  background-color: #EB5474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Patrick Hand", cursive;
  font-size: 2.1875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
  border-radius: 10px 10px 0 0;
  color: #FFE6DF;
}

.header__wrapper--bars {
  margin-right: 150px;
  cursor: pointer;
}

.header__wrapper--title {
  text-transform: capitalize;
}

.main-wrapper {
  height: 500px;
  width: 30%;
  background-color: #FFE6DF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px 0 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list__wrapper {
  height: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-family: "Rajdhani", sans-serif;
  overflow: auto;
}

.list__wrapper::-webkit-scrollbar-track {
  background-color: #FFE6DF;
}

.list__wrapper::-webkit-scrollbar {
  width: 10px;
  background: #EB5474;
}

.list__wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #EB5474;
}

.list__wrapper--task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__wrapper--task--checkbox {
  height: 30px;
  width: 30px;
  border: 3px solid #BF8489;
  margin-right: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.list__wrapper--task--checkbox--checked {
  font-size: 2.0625rem;
  -webkit-transform: translateX(11px) translateY(-5px);
          transform: translateX(11px) translateY(-5px);
  color: #97fca8;
}

.list__wrapper--task--text {
  font-size: 1.875rem;
  color: #303030;
  width: 80%;
}

.list__wrapper--task--input {
  height: 28px;
  width: 50%;
  font-size: 1.125rem;
  border: 1px solid #BF8489;
  color: #BF8489;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 5px;
  margin-right: 150px;
}

.list__wrapper--task--icon {
  font-size: 1.5625rem;
  color: #303030;
  cursor: pointer;
  text-align: end;
}

.list__wrapper--task--edit {
  margin-right: 30px;
}

.text-done {
  color: #808080;
  text-decoration: line-through;
}

.remove {
  display: none;
}

.button-all {
  height: 70px;
  width: 250px;
  background-color: #EB5474;
  border: none;
  border-radius: 35px;
  font-size: 1.875rem;
  font-family: "Patrick Hand", cursive;
  color: #FFE6DF;
  cursor: pointer;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.new-task__wrapper {
  display: none;
}

.new-task__wrapper--header {
  width: 100%;
  height: 75px;
  background-color: #EB5474;
  border-radius: 10px 10px 0 0;
  color: #FFE6DF;
  font-family: "Patrick Hand", cursive;
  font-size: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 50px;
}

.new-task__wrapper--header--title {
  margin-right: 150px;
}

.new-task__wrapper--header--close {
  cursor: pointer;
}

.new-task__wrapper--input {
  border: 1px solid #BF8489;
  height: 50px;
  width: 80%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  font-size: 1.25rem;
  color: #BF8489;
  margin-top: 20px;
}

.new-task__wrapper--input::-webkit-input-placeholder {
  color: #BF8489;
}

.new-task__wrapper--input:-ms-input-placeholder {
  color: #BF8489;
}

.new-task__wrapper--input::-ms-input-placeholder {
  color: #BF8489;
}

.new-task__wrapper--input::placeholder {
  color: #BF8489;
}

.new-task__wrapper--button {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  width: 50px;
  height: 50px;
  font-size: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  text-align: center;
}

.new-task-open {
  height: 200px;
  width: 565px;
  background-color: #FFE6DF;
  border: 2px solid #EB5474;
  border-top: none;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-animation: open-new-task 1500;
          animation: open-new-task 1500;
  position: absolute;
}
/*# sourceMappingURL=styles.css.map */